@import '../../app.scss';

.hero{
    height: calc(100vh - 100px);
    overflow: hidden;
    position: relative;
    background: linear-gradient(180deg ,#0c0c1d , #111132);
    .wrapper{
        max-width: 1336px;
        height: 100%;
        margin: auto;

        .textContainer{
            height: 100%;
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;

            @include mobile{
                height: 50%;
                width: 100%;
                gap: 20px;
                align-items: center;
                text-align: center;

            }
            
            h2{
                font-size: 30px;
                color:#49498a;
                letter-spacing: 10px;
            }

            h1{
                font-size: 88px;

                @include mobile{
                   font-size: 35px;
                }

            }

        }
    }

    .slidingTextContainer{
        position: absolute;
        font-size: 50vh;
        bottom: -120px;
        white-space: noWrap;
        color: #ffffff09;
        width: 50%;
        font-weight: bold;
    }
    .imageContainer{
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 40px;
        margin-top: 80px;

        @include mobile{
            height: 50%;
            top:unset;
            bottom: 0;
            margin-right: 35px;
        }

        img{
            width: 340px;
            height: 340px;
            border-radius: 50%;
        }
    }
}
